body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.banner-title{
    font-size: 55px;
    font-weight: 700;
    color: #575757;
}

.banner-skip{
    color: #fb9149;
}

.banner-paragraph{
    font-size: 18px;
    margin-bottom: 70px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(#fd5031,#fb8f48);
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    font-size: 18px;
}

.banner-items{
    display: flex;
}

.banner-left{
    width: 50%;
}

.banner-left-img{
    width: 100%;
    margin-top: 100px;
}

.banner-right{
    padding-left: 7%;
    margin-top: 170px;
}

section{
    margin-bottom: 100px;
}

.about-items{
    display: flex;
}

.about-left{
    width: 100%;
    margin-right: 200px;

}


.about-left-img{
    width: 50%;
    height: 100%;
    padding-left: 40%;

}

.about-right{
    width: 100%;
}

.section-paragraph{
    font-size: 18px;
    padding-right: 25%;
    margin-bottom: 70px;
}

.section-title{
    font-size: 40px;
    color: #707070;
}

.about-area{
    background-image: url(img/about-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 80px;
    width: 100%;
}

.recipies-section-title{
    font-size: 40px;
    color: #707070;
    margin-bottom: 25px;
}

.recipies-section-paragraph{
    font-size: 18px;
    padding-left: 320px;
    padding-right: 320px;
}

.recipie-title{
    text-align: center;
    margin-bottom: 50px;
}

.recipies-items-box{
    box-shadow: 2px 2px 30px #c4bdbd;
    width: 40%;
    border-radius: 20px;
    padding: 30px;
    margin-left: 20px;
}

.recipies-img{
    width: 100%;
    border-radius: 15px;
}

.recipies-items{
    display: flex;
    padding-left: 7%;
}

.recipies-title{
    font-size: 27px;
    margin-bottom: 10px;
}

.recipies-paragraph{
    font-size: 17px;
}


.social-numbers{
    font-size: 40px;
    font-weight: 700;
}


.social-numbers-area{
    display: flex;
    text-align: center;
    justify-content: center;
}

.social-items{
    padding: 55px;
}

.social-area-container{
    box-shadow: 2px 2px 50px #c4bdbd;
    border-radius: 20px;
    margin-left: 7%;
    margin-right: 7%;
}

.footer-title{
    font-size: 30px;
    color:#575757;
}

.footer-eat{
   color: #fb9149;
}

.footer-area{
    background-color: #0b0d17;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
}

.footer-paragraph{
    color: #cccdcf;
    padding-bottom: 100px;
}